<div class="container">
  <rd-compass></rd-compass>

  <div id="stage-info" class="stage-info">
  </div>
  <div class="buttons-container" id="approve-deny-container">
    <button id="approve-direction" class="button-approve">Approve Direction</button>
    <button id="deny-direction" class="button-deny">Deny Direction</button>
  </div>

  <div class="buttons-container" id="report-more-container">
    <button id="report-more-button" class="button-report-more">Report more</button>
  </div>
</div>

<rd-swiper></rd-swiper>

<div id="error" class="error" hidden>
</div>

